<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>404 Error - Page Not Found</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center mt-5">
        <h1 class="display-4">404 Error</h1>
        <p class="lead">Страница не найдена</p>
        <p>Возможно страница, котрую вы ищите, удалена или была перенесена.</p>
        <a href="index.html" class="btn btn-primary">Вернуться на главную страницу</a>
      </div>
    </div>
  </div>
</body>

</html>
