{% extends 'first/layout.html' %}

{% load static %}

{% block title %} Добавление карты {% endblock %}

{% block content %}
    <h4 class="my-3 mx-3" style ="color: rgb(36,56,90); font-family: 'Comfortaa', cursive;" >Данные медицинской карты карты</h4>
    <form method="post" >
        {% csrf_token %}
    <div class="row gy-3 px-3 justify-content-center" style="font-size: 1.075em;">
        <div class="col-md-3">
            <label for="lastname" class="form-label">Фамилия</label>
            {{form.lastname}}
        </div>

        <div class="col-sm-2">
            <label for="firstname" class="form-label">Имя</label>
            {{form.firstname}}
        </div>

        <div class="col-sm-3">
            <label for="surname" class="form-label">Отчество</label>
            {{form.surname}}
        </div>

        <div class="col-sm-2">
            <label for="iin" class="form-label">ИИН</label>
            {{form.iin}}
        </div>

        <div class="col-sm-2">
            <label for="birthdate" class="form-label">Дата рождения</label>
            {{form.birthdate}}
        </div>


        <div class="col-sm-3">
            <label for="faculty" class="form-label">Факультет/подразделение</label>
            {{form.faculty}}
        </div>

        <div class="col-sm-3">
            <label for="group" class="form-label">Группа/кафедра</label>
            {{form.group}}     
        </div>

        <div class="col-sm-3">
            <label for="status" class="form-label">Должность</label>
            {{form.status}}
        </div>

        <div class="col-sm-3">
            <label for="address" class="form-label">Адрес</label>
            {{form.address}}
        </div>

        <div class="col-sm-12">
            <label for="simptoms" class="form-label">Жалобы, краткий анамнез, основные симптомы заболевания, показатели здоровья</label>
            {{form.simptoms}}
        </div>

        <div class="col-sm-6">
            <label for="diagnosis" class="form-label">Диагноз</label>
            {{form.diagnosis}}
        </div>

        <div class="col-sm-6">
            <label for="suggestions" class="form-label">Назначение</label>
            {{form.suggestions}}
        </div>
        
        <div class="col-sm-2">
            <label for="perv_povt" class="form-label">Первичный или повторный </label>
            {{form.perv_povt}}
        </div>
        
        <div class="col-sm-10">
            <label for="additions" class="form-label">Примечание</label>
            {{form.additions}}
        </div>

        <span> {{erroe}} </span>
        <br>

        <button class="btn btn-success col-md-4 justify-content-center" type="submit"> Добавить карту
        </button>
        
    </div>
    </form>
{% endblock %}