{% extends 'first/layout.html' %}

{% load static %}

{% block title %} Удаление карты {% endblock %}

{% block content %}
<div class="row justify-content-center my-3 mx-3 ">
    <h4 class="col-md-4" style ="color: rgb(36,56,90); font-family: 'Comfortaa', cursive;" >Удаление медицинской карты</h4>
    </div>  
    <div class="row justify-content-center my-3 mx-3 ">  
    <form method="post" class="col-md-1">
        {% csrf_token %}
        <button class="btn btn-danger " type="submit"> Удалить карту
        </button>
    </form>
    <b class="col-md-3" style ="color: rgb(36,56,90); font-family: 'Comfortaa', cursive;">Удаленные данные будет невозможно восстановить</b>
</div>
{% endblock %}